<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gc.mapper.PicMapper" >
	<select id="selAll" resultType="pic">
		select * from pic
	</select>
	<delete id="addPic" parameterType="Pic">
		insert into pic values(default,#{path})
	</delete>
</mapper>
